<div class= "cards">
<div class="card">
  <img src="img/Piece1.jpg" alt="image1"> 
  <h3>Electric Transportation</h3>
</div>
<div class="card">
  <img src="img/Piece2.png" alt="image2"> 
  <h3>Player's Grand Prix</h3>
</div>
<div class="card">
  <img src="img/Piece3.png" alt="image3"> 
  <h3>A Love Steeped Affair</h3>
</div>
<div class="card">
  <img src="img/Piece4.png" alt="image4"> 
  <h3>Light Her Path</h3>
</div>
<div class="card">
  <img src="img/Piece5.png" alt="image5"> 
  <h3>Dining Delight</h3>
</div>
<div class="card">
  <img src="img/Piece6.jpg" alt="image6"> 
  <h3>The Seaside Shack</h3>
</div>
</div>
